<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="title">Abarrotes doña pelos</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <h1> <ion-icon name="heart" size="large"></ion-icon> FAVORITOS</h1>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let product of favoriteItems; let i = index;">
        <ion-col size="6" size-md="6" size-lg="6" size-xs="12">
          <ion-card class="product-card">
            <ion-card-header class="large-font">
              <div class="icon-with-text">
                <ion-icon name="pricetag-outline"></ion-icon>
                {{ product.name }}
              </div>
              <ion-img [src]="product.photo + i" [style.max-width]="'300px'" [style.max-height]="'300px'"></ion-img>
            </ion-card-header>
            <ion-card-subtitle class="bordered-subtitle center-text">
              {{ product.price | currency }}
            </ion-card-subtitle>
            <ion-card-subtitle class="bordered-subtitle center-text">
              <!-- 
    <ng-container *ngIf="product.quantity > 1"> Cantidad: {{ product.quantity }}</ng-container>
              -->
              
            </ion-card-subtitle>
            <ion-button fill="clear" (click)="addToCart(product)">
              Agregar carrito
            </ion-button>
            <ion-button color="primary" fill="clear" (click)="removeFromFavorites(product)">
              Eliminar
            </ion-button>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <!--
      <ion-button color="secondary" fill="solid" shape="round" (click)="clearCart()" [disabled]="isCartEmpty()">
        <ion-icon name="card-outline"></ion-icon>
        Comprar
      </ion-button>
      -->
      
    </ion-row>
  </ion-grid>
</ion-content>

