<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="title">Abarrotes doña pelos</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-select label="Tipo" [multiple]="true" interface="popover" label-placement="floating" [(ngModel)]="filter" (ionChange)="filterProducts()">
            <ion-select-option value="Abarrotes">
              Abarrotes
            </ion-select-option>
            <ion-select-option value="Frutas y verduras"> 
              Frutas y Verduras
            </ion-select-option>
            <ion-select-option value="Limpieza">
              Limpieza
            </ion-select-option>
            <ion-select-option value="Farmacia">
              Farmacia
            </ion-select-option>
            
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <div *ngFor="let product of productsFounds; index as i" style="display: inherit;">
          <ion-col size="6" size-sm="6" size-xs="12">
            <!-- *ngIf="product.type!='Frutas y Verduras'" -->
            <ion-card>
              <img [src]="product.photo+i" />
              <ion-card-header>
                <ion-card-title>
                  {{product.name}}
                    <ion-badge color="primary">{{product.type}}</ion-badge>
                </ion-card-title>
                <ion-card-subtitle>{{product.price|currency}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{product.description}}
              </ion-card-content>
              <!--<div>
                <ion-item>
                  <ion-label>Cantidad:</ion-label>
                  <ion-button (click)="decreaseQuantity()" fill="clear" slot="start">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                  <ion-input type="number" [(ngModel)]="quantity" min="1" class="small-input"></ion-input>
                  <ion-button (click)="increaseQuantity()" fill="clear" slot="end">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>-->

              <ion-button fill="clear" (click)="addToCart(product)">Agregar</ion-button>
              <ion-button fill="clear" (click)="addTofavorite(product)">Agregar a favoritos</ion-button>
            </ion-card>
          </ion-col>
        </div>

      </ion-row>

      <!--<ion-row>
        <h1> <ion-icon name="cart-outline" size="large" ></ion-icon> Carrito</h1>
      </ion-row>
      <ion-row>
        <div size="12" style="margin-left: 20px;">
        <ion-col size="6" *ngFor="let product of cartItems; index as i">
          <ion-card>
            <ion-card-header class="large-font">
              {{product.name}}
            </ion-card-header>
            <ion-card-subtitle class="bordered-subtitle center-text">
              {{product.price|currency}}
            </ion-card-subtitle>
            <ion-card-subtitle  class="bordered-subtitle center-text">
              <ng-container *ngIf="product.quantity > 1"> Cantidad:{{product.quantity}}</ng-container>
            </ion-card-subtitle>
            <ion-button color="primary" fill="clear" (click)="removeFromCart(product)">
              Eliminar
            </ion-button>
          </ion-card>
        </ion-col>
      </div>
      </ion-row>
      <ion-row>
        <p>Total del carrito: {{totalCartPrice | currency}}</p>
      </ion-row>-->      
    </ion-grid>

</ion-content>
