<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="title">Abarrotes doña pelos</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <h1> <ion-icon name="cart-outline" size="large" ></ion-icon> Carrito</h1>
    </ion-row>
    <ion-row>
      <div size="12" style="margin-left: 20px;">
      <ion-col size="6" *ngFor="let product of cartItems; index as i">
        <ion-card>
          <ion-card-header class="large-font">
            <div class="icon-with-text">
              <ion-icon name="pricetag-outline"></ion-icon>
              {{product.name}}
            </div>
          </ion-card-header>
          <ion-card-subtitle class="bordered-subtitle center-text">
            {{product.price|currency}}
          </ion-card-subtitle>
          <ion-card-subtitle  class="bordered-subtitle center-text">
            <ng-container *ngIf="product.quantity > 1"> Cantidad:{{product.quantity}}</ng-container>
          </ion-card-subtitle>
          <ion-button color="primary" fill="clear" (click)="removeFromCart(product)">
            Eliminar
          </ion-button>
        </ion-card>
      </ion-col>
    </div>
    </ion-row>
    <ion-row>
      <p>Total del carrito: {{calculateCartTotal() | currency}}</p> <!-- Muestra el precio total del carrito -->
    </ion-row>
    <ion-row>
      <ion-button color="secondary" fill="solid" shape="round" (click)="clearCart()" [disabled]="isCartEmpty()">
        <ion-icon name="card-outline"></ion-icon>
        Comprar
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
